.content-container{
    height: 88vh;
    padding: 10px;
}
.competence-frame-container{
    width: 100%;
    height: 460px;
}

.competence-frame{
    width: 100%;
    height: 89%;
    display: flex;
}

.competence-container{
    height: 100%;
    background: #D1E0D6;
    display: flex;
    flex-direction: column; 
    position: relative; 
    border-left: 1px solid #81AA8F;
    border-right: 1px solid #81AA8F;
    border-bottom: 1px solid #81AA8F;
}

.split-line{
    width: 100%;
    border-bottom: 1px dashed black;
    transform: rotate(14deg);
    
}

.competence-items{
    background-color: red;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%x;
    background-color: #D1E0D6;
    border-top: 1px solid #81AA8F;
    border-bottom: 1px solid #81AA8F;
    border-right: 1px solid #81AA8F;
}

.competence-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 130px;
    color: #5A6276;
}

.add-competence-item{
    width: 170px;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-right: 15px;
    color: #1A6634;
    background-color: #D1E0D6;
}

.level-container{
    display: flex;
    height: 50%;
}

.min-max-item{
    width: 50%;
    text-align: center;
}

.row-item-height{
    height: 60px;
}


.position-items{
    overflow: auto;
    display: flex;
    flex-direction: column;  
    background-color: #D1E0D6;
    white-space: nowrap;
    height: 85%;
    overflow-y: auto;
    justify-content: space-between;
}

.position-item{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    padding-left: 13px;
    font-size: 15px;
}

.col-position-width{
    width: 220px;
}

.add-item-position{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    color: #1A6634;
    height: 30px;
}

.title-container{ 
    background-color: #ACC7B5;
    border-top: 1px solid #81AA8F;
    border-bottom: 1px solid #81AA8F;
}

.position-level-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.competence-level-container{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    
}

.competence-level-item{
    width: 130px;
    display: flex;
    align-items: center;
}

.input-competence{ 
    width: 40px;
    outline: 1px black;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    background-color: transparent;
}

.input-competence:focus-visible{
    outline: 1px solid black;
}
.input-competence:hover{
    outline: 1px solid black;
}

.input-competence::-webkit-inner-spin-button, 
.input-competence::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.detail-title-text{
    font-size: 18px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.competence-detail-container{
    height: 330px;
}

.detail-frame{
    height: 280px;
    background-color: white;
    display: flex;
    padding: 20px;
}

.datetime-status{
    color: #959DB3;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.name-des{
    width: 75%;
    color: #959DB3;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.competence-name-input{
    width: 100%;
    border: 2px solid #DBDEE7;
    border-radius: 4px;
    color: black;
    padding-top: 3px;
    padding-bottom: 3px;
}
.competence-detail-input{
    min-width: 100%;
    min-height: 140px;
    max-width: 100%;
    max-height: 140px;
    border: 2px solid #DBDEE7;
    border-radius: 4px;
    color: black;
}

.competence-name-input:hover{
    border: 2px solid black;
    border-radius: 4px;
}
.competence-detail-input:hover{

    border: 2px solid black;
    border-radius: 4px;
}

.competence-cate-func{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C9CEDB;
    padding-top: 5px;
    padding-bottom: 10px;
    white-space: nowrap;
    overflow-x: auto;
}

.competence-cate{
    display: flex;
    gap: 0.3rem;
    height: 50px;
    align-items: center;
}
.competence-func{
    display: flex;
    gap: 0.6rem;
    height: 45px;
    align-items: center;
}

.func-item{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    color: #ffffff;
    gap: 0.4rem;
    cursor: pointer;
    box-shadow: 0px 3px 6px 1px #A9DCF7;
    font-size: 15px;
}

.func-item:hover{
    box-shadow: 2px 3px 7px 1px #74caf8;
}


.scroll-container{
    min-height: 100px;
    max-height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
}

@media screen and (max-width: 1746px) {
    .scroll-container{
        max-height: calc(800px - 90px);
    }
    
  }
  
  @media screen and (max-width: 1537px) {
    .scroll-container{
        max-height: calc(800px - 180px);
    }
    
  }
  
  @media screen and (max-width: 1441px) {
    .scroll-container{
        max-height: calc(800px - 225px);
    }
  }
  
  @media screen and (max-width: 1372px) {
    .scroll-container{
        max-height: calc(800px - 255px);
    }
  }
  
  @media screen and (max-width: 1281px) {
    .scroll-container{
        max-height: calc(800px - 295px);
    }
  }
  @media screen and (max-width: 1098px) {
    .scroll-container{
        max-height: calc(800px - 385px);
    }
  }
  
  @media screen and (min-width: 1920px){
    
  }