
  .checkboxes {
    display: none; /* Hide the default checkbox */
  }
  
  .checkbox-label {
    display: block;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 1px solid #959DB3;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
  }
  
  .checkbox-label:before {
    content: '\2714';
    display: block;
    width: 16px;
    height: 16px;
    background-color: #008000; 
    color: white;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 16px;
    font-size: 12px;
    padding-left: 3px;
    transform: translate(-50%, -50%) scale(0); 
    
  }
  
  .checkboxes:checked + .checkbox-label:before {
    transform: translate(-50%, -50%) scale(1); 
  }

  .status-hover:hover{
    border-width: 2px;
    border-color: #008000;
  }
  .status-hover:hover .checkbox-label{
    background-color: #008000;
    transition: ease-in-out 0.1s;
  }

  .excel_function_hover:hover{
    border-width: 2px;
    border-color: #008000;
  }